.container {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 100vh;
}

.image {
  transform: scaleX(-1);
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(2px);
  z-index: -1;
}

.textOverlay {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding-right: 5%;
}

.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--white) !important;
}

.colorWhite {
  color: var(--white) !important;
}

.description {
  color: var(--white) !important;
  font-size: 1.2rem;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .textOverlay {
    padding: 50px;
  }

  .colorWhite {
    display: none;
  }
}
