.root {
  display: flex;
  gap: 16px;
  align-items: center;

}

.backgroundColorPrimary {
    background-color: var(--primary)
}

.backgroundColorSecondary {
    background-color: var(--cream-1);
    border: 1px solid var(--brown-3)
}

.icon {
    padding: 10px;
    border-radius: 4px;
}
