.root {
  background-color: var(--brown-2);
  min-height: 17.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.625rem;
  border-radius: 0.625rem;
}
.icon {
  padding: 0.625rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
}

.titleEllipsis {
  min-width: 11.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descriptionEllipsis {
  max-height: 4.375rem;
  min-height: 4.375rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.button {
  margin-top: 1rem;
  align-self: flex-start;
}

.link {
  color: var(--brown-6);
}

.link:hover {
  color: var(--brown-8);
  text-decoration: underline;
}

.link:active {
  color: var(--brown-10);
  text-decoration: underline;
}
