.root {
  background-color: var(--brown-2);
  min-height: 281px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
}
.icon {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--primary);
}

.titleEllipsis {
  min-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descriptionEllipsis {
  max-height: 70px;
  min-height: 70px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.button {
  margin-top: 16px;
  align-self: flex-start;
}

.link {
  color: var(--brown-6);
}

.link:hover {
  color: var(--brown-8);
  text-decoration: underline;
}

.link:active {
  color: var(--brown-10);
  text-decoration: underline;
}
