.icon {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--primary);
}

.description {
  text-align: justify;
}

.button {
  margin-top: 16px;
}


.link {
  color: var(--brown-6);
}

.link:hover {
  color: var(--brown-8);
  text-decoration: underline;

}

.link:active {
  color: var(--brown-10);
  text-decoration: underline;
}
