.imageCol {
    text-align: center;
    padding: 0.9375rem;
    height: 37.5rem;
}

.image {
    border-radius: 0.25rem;
    object-fit: cover;
}

.centerText {
    text-align: center;
}

.button {
    margin-top: 2rem;
}

.tag {
    white-space: unset !important;
    margin-top: 0.625rem;
}

@media (max-width: 768px) {
    .imageCol {
        height: 250px;
    }
}
