@import "@/styles/colors.css";

body {
  font-family: "var(--font-plus-jakarta-sans)", sans-serif;
  margin: 0;
}

.ant-tabs-tab-active {
  background-color: var(--primary) !important;
}

.ant-typography a {
  color: var(--brown-6) !important;
  text-decoration: underline !important;
}

.ant-typography a:hover {
  color: var(--brown-4) !important;
  text-decoration: none !important;
}

.ant-typography a:visited {
  color: var(--brown-8) !important;
  text-decoration: none !important;
}
