.title {
  text-align: center;
  margin-right: 6.25rem;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.form {
  width: 37.5rem !important;
}

.phoneNumber {
  width: 15.625rem !important;
}

.maxHeight {
  max-height: 6.25rem;
}

.button {
  margin-top: 1.875rem;
}
