.root {
    padding: 20px;
    background-color: var(--cream-1);
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    border-top: 1px #d9d9d9 solid;
}

.icon {
    color: var(--primary);
    border-radius: 8px;
    border: 1px solid var(--brown-3);
    padding: 5px;
    margin-right: 5px;
}